<a href="https://colab.research.google.com/github/Siva290822/ICP1_BigData/blob/main/Copy_of_Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
input_str = input("Enter the string: ")
char_list = list(input_str)

if len(char_list) >= 6:
    del char_list[-1]
    del char_list[-1]
else:
    print("Input too short to delete 2 characters.")

char_list.reverse()

result = ''.join(char_list)

print("Resultant reversed string:", result)

Enter the string: python
Resultant reversed string: htyp

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

add = num1 + num2
sub = num1 - num2
mul = num1 * num2

if num2 != 0:
    div = num1 / num2
else:
    div = "Undefined (cannot divide by zero)"

print("\n--- Arithmetic Operations Results ---")
print("Addition:", add)
print("Subtraction:", sub)
print("Multiplication:", mul)
print("Division:", div)

Enter the first number: 1
Enter the second number: 2

--- Arithmetic Operations Results ---
Addition: 3.0
Subtraction: -1.0
Multiplication: 2.0
Division: 0.5

In [ ]:
sentence = input("Enter a sentence: ")
updated_sentence = sentence.replace('python', 'pythons')

print("Updated sentence:", updated_sentence)

Enter a sentence: I love playing with python
Updated sentence: I love playing with pythons

In [ ]:
score = float(input("Enter your class score (0-100): "))

if score >= 90 and score <= 100:
    print("Grade: A")
elif score >= 80 and score < 90:
    print("Grade: B")
elif score >= 70 and score < 80:
    print("Grade: C")
elif score >= 60 and score < 70:
    print("Grade: D")
elif score >= 0 and score < 60:
    print("Grade: F")
else:
    print("Invalid score. Please enter a value between 0 and 100.")

Enter your class score (0-100): 97
Grade: A

In [ ]:
x = [23, 'Python', 23.98]
types = [type(i) for i in x]

print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [ ]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("1. Length of IT_companies:", len(IT_companies))

IT_companies.add('Twitter')
print("2. After adding Twitter:", IT_companies)

IT_companies.update(['Snapchat', 'Tesla', 'LinkedIn'])
print("3. After adding multiple companies:", IT_companies)

IT_companies.remove('IBM')
print("4. After removing IBM:", IT_companies)

print("5. 'remove()' raises error if item not found, 'discard()' does not raise error.")

join_AB = A.union(B)
print("6. A union B:", join_AB)

intersect_AB = A.intersection(B)
print("7. A intersection B:", intersect_AB)

print("8. Is A subset of B?:", A.issubset(B))

print("9. Are A and B disjoint?:", A.isdisjoint(B))

print("10. A | B:", A | B)
print("    B | A:", B | A)

print("11. Symmetric difference:", A.symmetric_difference(B))

del IT_companies
del A
del B
print("12. Sets deleted.")

age_set = set(age)
print("13. Length of age list:", len(age))
print("    Length of age set:", len(age_set))

1. Length of IT_companies: 7
2. After adding Twitter: {'IBM', 'Apple', 'Amazon', 'Google', 'Facebook', 'Oracle', 'Microsoft', 'Twitter'}
3. After adding multiple companies: {'Facebook', 'Microsoft', 'Snapchat', 'Oracle', 'Tesla', 'LinkedIn', 'Apple', 'Amazon', 'Google', 'IBM', 'Twitter'}
4. After removing IBM: {'Facebook', 'Microsoft', 'Snapchat', 'Oracle', 'Tesla', 'LinkedIn', 'Apple', 'Amazon', 'Google', 'Twitter'}
5. 'remove()' raises error if item not found, 'discard()' does not raise error.
6. A union B: {19, 20, 22, 24, 25, 26, 27, 28}
7. A intersection B: {19, 20, 22, 24, 25, 26}
8. Is A subset of B?: True
9. Are A and B disjoint?: False
10. A | B: {19, 20, 22, 24, 25, 26, 27, 28}
    B | A: {19, 20, 22, 24, 25, 26, 27, 28}
11. Symmetric difference: {27, 28}
12. Sets deleted.
13. Length of age list: 8
    Length of age set: 5